.widget.wred
  .widget-head
    .pull-left Download Speed
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    .padd
      chart(ng-model='data', style='width:100%;')
