.page-head
  // Page heading
  h2.pull-left
    | Torrents
    // page meta
    span.page-meta rtorrent downloads
  // Breadcrumb
  .bread-crumb.pull-right
    .well.blightblue
      p
        strong  {{stats.upLimit}}
        |  up /
        strong  {{stats.downLimit}}
        |  down (Throttle)
  .bread-crumb.pull-right
    .well.blightblue
      p
        strong  {{stats.upSpeed}}
        |  up /
        strong  {{stats.downSpeed}}
        |  down (Speed)
  .clearfix
