.page-head
  // Page heading
  h2.pull-left
    | Torrents
    // page meta
    span.page-meta rtorrent downloads
  // Breadcrumb
  .bread-crumb.pull-right
    p
      strong  {{stats.downSpeed}}
      |  up /
      strong  {{stats.upSpeed}}
      |  down (Speed)
    p
      strong  {{stats.downLimit}}
      |  up /
      strong  {{stats.upLimit}}
      |  down (Throttle)
  .clearfix
