.page-head
  // Page heading
  h2.pull-left
    | Torrents
    // page meta
    span.page-meta rtorrent downloads
  // Breadcrumb
  .bread-crumb.pull-right
    a(href='index.html')
      i.icon-home
      | Home
    // Divider
    span.divider /
      a.bread-current(href='#') Torrents
  .clearfix
