extends layout

block content
    include navbar

    h1= title
    p Welcome to #{title}

    #container(ng-controller="TorrentCtrl")
        ul.list
            li(ng-repeat="torrent in torrentResults.torrents") Name: {{torrent.name}} Download Rate: {{torrent.downloadRate}} Downloaded: {{torrent.downloaded}}


