doctype 5
html
  head
    title = PiTorrent
    meta(charset='utf-8')

    // css imports
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.css")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css")

    // js imports
    script(src="/javascripts/rtorrentapi.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery-ui-1.10.2.custom.min.js")
    script(src="/javascripts/bootstrap.js")

  body
    block content