doctype html
html(ng-app="myApp")
  head
    title PiTorrent
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(charset='utf-8')

    // css imports
    link(rel='stylesheet', href='style/bootstrap.css')
    link(rel='stylesheet', href='style/font-awesome.css')
    link(rel='stylesheet', href='style/jquery-ui.css')
    link(rel='stylesheet', href='style/style.css')
    link(rel='stylesheet', href='style/widgets.css')
    link(rel='stylesheet', href='style/angular-busy.min.css')
    link(rel='stylesheet', href='style/tablesort.css')


    // js imports
    script(src="/js/lib/jquery-1.11.0.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js")
    script(src="/js/lib/ui-bootstrap-tpls-0.10.0.min.js")
    script(src="/js/angular/app.js")
    script(src="/js/angular/controllers.js")
    script(src="/js/angular/directives.js")
    script(src="/js/angular/services.js")
    script(src="/js/angular/filters.js")
    script(src="/js/lib/html5shim.js")
    script(src="/js/lib/jquery.flot.js")
    script(src="/js/lib/jquery.flot.resize.js")
    script(src="/js/lib/jquery.knob.js")
    script(src="/js/lib/custom.js")
    script(src="/js/lib/promise-tracker.min.js")
    script(src="/js/lib/angular-busy.min.js")
    script(src="/js/angular/lib/ng-flow.min.js")
    script(src="/js/angular/lib/angular-tablesort.js")
    script(src="/js/angular/lib/angular-knob.js")
    script(src="/js/lib/engine.io.js")

body
block content