doctype 5
html(ng-app="myApp")
  head
    title PiTorrent
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(charset='utf-8')

    // css imports
    link(rel='stylesheet', href='style/bootstrap.css')
    link(rel='stylesheet', href='style/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='style/bootstrap-switch.css')
    link(rel='stylesheet', href='style/file-structure.css')
    link(rel='stylesheet', href='style/font-awesome.css')
    link(rel='stylesheet', href='style/jquery.cleditor.css')
    link(rel='stylesheet', href='style/jquery.gritter.css')
    link(rel='stylesheet', href='style/jquery-ui.css')
    link(rel='stylesheet', href='style/style.css')
    link(rel='stylesheet', href='style/widgets.css')


    // js imports
    script(src="/js/jquery.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js")
    script(src="/js/jquery-ui-1.10.2.custom.min.js")
    script(src="/js/ui-bootstrap-tpls-0.9.0.min.js")
    script(src="/js/gettorrents.js")
    //script(src="/js/angular-resource.min.js")
    script(src="/js/html5shim.js")
    script(src="/js/jquery.flot.js")
    script(src="/js/jquery.flot.resize.js")
    script(src="/js/custom.js")

body
block content