doctype 5
html(ng-app="myApp")
  head
    title = PiTorrent
    meta(charset='utf-8')

    // css imports
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/font-awesome.css')
    link(rel='stylesheet', href='stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='stylesheets/jquery.gritter.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-toggle-buttons.css')
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/widgets.css', rel='stylesheet')
    link(href='stylesheets/bootstrap-responsive.css', rel='stylesheet')


    // js imports
    script(src="/javascripts/jquery.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="/javascripts/jquery-ui-1.10.2.custom.min.js")
    //script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/ui-bootstrap-tpls-0.5.0.min.js")
    script(src="/javascripts/gettorrents.js")
    script(src="/javascripts/angular-resource.min.js")
    script(src="/javascripts/custom.js")
    script(src="/javascripts/html5shim.js")


body
block content