doctype html
html(ng-app="myApp")
  head
    title PiTorrent
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(charset='utf-8')

    // css imports
    link(rel='stylesheet', href='style/bootstrap.css')
    link(rel='stylesheet', href='style/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='style/bootstrap-switch.css')
    link(rel='stylesheet', href='style/font-awesome.css')
    link(rel='stylesheet', href='style/jquery.cleditor.css')
    link(rel='stylesheet', href='style/jquery.gritter.css')
    link(rel='stylesheet', href='style/jquery-ui.css')
    link(rel='stylesheet', href='style/style.css')
    link(rel='stylesheet', href='style/style.min.css')
    link(rel='stylesheet', href='style/widgets.css')


    // js imports
    script(src="/js/lib/jquery.js")
    script(src="/js/angular/lib/angular-file-upload-shim.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js")
    script(src="/js/lib/jquery-ui-1.10.2.custom.min.js")
    script(src="/js/lib/ui-bootstrap-tpls-0.9.0.min.js")
    script(src="/js/angular/app.js")
    script(src="/js/angular/controllers.js")
    script(src="/js/angular/directives.js")
    script(src="/js/angular/services.js")
    script(src="/js/angular/filters.js")
    script(src="/js/angular/lib/angular-file-upload.min.js")
    script(src="/js/lib/html5shim.js")
    script(src="/js/lib/jquery.flot.js")
    script(src="/js/lib/jquery.flot.resize.js")
    script(src="/js/lib/jstree.js")
    script(src="/js/lib/custom.js")

body
block content