extends layout

block content
  .admin-form
    .container-fluid
      .row-fluid
        .span12
          .widget.worange
            .widget-head
              i.icon-lock
              | Login
            .widget-content
              .padd
                form.form-horizontal(action='/login',method='post')
                  .control-group
                    label.control-label(for='user') Username
                    .controls
                      input#user(name="username", type='text', placeholder='Username')
                  .control-group
                    label.control-label(for='pass') Password
                    .controls
                      input#pass(name="password", type='password', placeholder='Password')
                  .control-group
                    .controls
                      label.checkbox
                        input(type='checkbox')
                        | Remember me
                      br
                      button.btn.btn-danger(type='submit') Sign in