.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      // Menu button for smallar screens
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      // Site name for smallar screens
      a.brand(href='index.jsf')
        | Metro
        span.bold King
      // Navigation starts
      .nav-collapse.collapse
        // Links
        ul.nav.pull-right
          li.dropdown.pull-right
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              img.nav-user-pic(src='/images/user.jpg', alt='')
              | Admin
              b.caret
            // Dropdown menu
            ul.dropdown-menu
              li
                a(href='#')
                  i.icon-user
                  | Profile
              li
                a(href='#')
                  i.icon-cogs
                  | Settings
              li
                a(href='login.jsf')
                  i.icon-off
                  | Logout
        // Notifications
        ul.nav.pull-right
          // Comment button with number of latest comments count
          li.dropdown.dropdown-big
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-comments
              | Chats
              span.badge.badge-info 6
            ul.dropdown-menu
              li
                // Heading - h5
                h5
                  i.icon-comments
                  | Chats
                // Use hr tag to add border
                hr
              li
                // List item heading h6
                a(href='#') Hi :)
                span.label.label-warning.pull-right 10:42
                .clearfix
                hr
              li
                a(href='#') How are you?
                span.label.label-warning.pull-right 20:42
                .clearfix
                hr
              li
                a(href='#') What are you doing?
                span.label.label-warning.pull-right 14:42
                .clearfix
                hr
              li
                .drop-foot
                  a(href='#') View All
          // Message button with number of latest messages count
          li.dropdown.dropdown-big
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-envelope-alt
              | Inbox
              span.badge.badge-important 19
            ul.dropdown-menu
              li
                // Heading - h5
                h5
                  i.icon-envelope-alt
                  | Messages
                // Use hr tag to add border
                  hr
              li
                // List item heading h6
                a(href='#') Hello how are you?
                // List item para
                p Quisque eu consectetur erat eget  semper...
                hr
              li
                a(href='#') Today is wonderful?
                p Quisque eu consectetur erat eget  semper...
                hr
              li
                .drop-foot
                  a(href='#') View All
          // Members button with number of latest members count
          li.dropdown.dropdown-big
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-user
              | Users
              span.badge.badge-success 6
            ul.dropdown-menu
              li
                // Heading - h5
                h5
                  i.icon-user
                  | Users
                // Use hr tag to add border
                hr
                li
                // List item heading h6
                a(href='#') Ravi Kumar
                span.label.label-warning.pull-right Free
                .clearfix
                hr
              li
                a(href='#') Balaji
                span.label.label-important.pull-right Premium
                .clearfix
                hr
              li
                a(href='#') Kumarasamy
                span.label.label-warning.pull-right Free
                .clearfix
                hr
              li
                .drop-foot
                  a(href='#') View All
