.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      // Menu button for smallar screens
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      // Site name for smallar screens
      a.brand(href='/')
        | Pi
        span.bold Torrent
      // Navigation starts
      .nav-collapse.collapse
        // Links
        ul.nav.pull-right
          li.dropdown.pull-right
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Admin
              b.caret
            // Dropdown menu
            ul.dropdown-menu
              li
                a(href='#')
                  i.icon-user
                  | Profile
              li
                a(href='#')
                  i.icon-cogs
                  | Settings
              li
                a(href='logout')
                  i.icon-off
                  | Logout
