// Sidebar
.sidebar
  .sidebar-dropdown
    a(href='#') Navigation
  .sidebar-inner
    // Search form
    .sidebar-widget
      form.form-inline
        .input-append.row-fluid
          input.span8(type='text', placeholder='Search')
          button.btn.btn-info(type='submit') Search
    // - Sidebar navigation
    // If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation.
    ul.navi
      // Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag.
      li.nred.current.open
        a(href='/')
          i.icon-desktop
          | Torrents
      // Menu with sub menu
      li.has_submenu.nlightblue
        a(href='#')
          // Menu name with icon
          i.icon-th
          | Widgets
          // Icon for dropdown
          span.pull-right
            i.icon-angle-right
        ul
          li.active
            a(href='widgets1.html') Widgets #1
          li
            a(href='widgets2.html') Widgets #2
      li.ngreen
        a(href='charts.html')
          i.icon-bar-chart
          | Charts
      li.norange
        a(href='ui.html')
          i.icon-sitemap
          | UI Elements
      li.has_submenu.nviolet
        a(href='#')
          i.icon-file-alt
          | Pages #1
          span.pull-right
            i.icon-angle-right
        ul
          li
            a(href='calendar.html') Calendar
          li
            a(href='post.html') Make Post
          li
            a(href='login.html') Login
          li
            a(href='register.html') Register
          li
            a(href='statement.html') Statement
          li
            a(href='error-log.html') Error Log
          li
            a(href='support.html') Support
      li.has_submenu.nblue
        a(href='#')
          i.icon-file-alt
          | Pages #2
          span.pull-right
            i.icon-angle-right
        ul
          li
            a(href='error.html') Error
          li
            a(href='gallery.html') Gallery
          li
            a(href='grid.html') Grid
          li
            a(href='invoice.html') Invoice
          li
            a(href='media.html') Media
          li
            a(href='profile.html') Profile
      li.nred
        a(href='forms.html')
          i.icon-list
          | Forms
      li.nlightblue
        a(href='tables.html')
          i.icon-table
          | Tables
