.sidebar
  .sidebar-dropdown
    a(href='#') Navigation
  .sidebar-inner
    .sidebar-widget
      form
        input.form-control(type='text', placeholder='Search')
    ul.navi
      li.has_submenu.nred(ng-class="navClass('main')")
        a(href='#')
          i.icon-download-alt
          |  Torrents
          span.pull-right
            i.icon-angle-right
        ul
          li(ng-class="{active: tab.overviewTab}")
            a(href='#', ng-click="tab.overviewTab = true") Overview
          li(ng-class="{active: tab.allTab}")
            a(href='#', ng-click="tab.allTab = true") All
          li(ng-class="{active: tab.stoppedTab}")
            a(href='#', ng-click="tab.stoppedTab = true") Stopped
          li(ng-class="{active: tab.startedTab}")
            a(href='#', ng-click="tab.startedTab = true") Started
          li(ng-class="{active: tab.seedingTab}")
            a(href='#', ng-click="tab.seedingTab = true") Seeding
          li(ng-class="{active: tab.leechingTab}")
            a(href='#', ng-click="tab.leechingTab = true") Leeching
          li(ng-class="{active: tab.currUpTab}")
            a(href='#', ng-click="tab.currUpTab = true") Currently Uploading
          li(ng-class="{active: tab.currDownTab}")
            a(href='#', ng-click="tab.currDownTab = true") Currently Downloading
      li.nblue(ng-class="navClass('settings')")
        a(href='#/settings')
          i.icon-cogs
          |  Settings
      li.nviolet(ng-class="navClass('fileBrowser')")
        a(href='#/fileBrowser')
          i.icon-folder-open
          |  File Browser