.torrents(ng-controller="TorrentCtrl")

  // This alert is shown when the server cannot communicate with rtorrent
  .container-fluid(ng-show='cantConnectToRtorrent')
    .row-fluid
      .span12
        .text-center
          .alert.alert-error
            h5 There was a problem connecting to rtorrent
            p Is rtorrent up and running?

  tabset
    tab(heading="Overview")
      .container-fluid
        .row-fluid
          .span6
            include torrent_summary_widgets/currently-uploading
          .span6
            include torrent_summary_widgets/currently-downloading
        .row-fluid
          .span6
            include upload_chart
          .span6
            include download_chart
        .row-fluid
          .span6
            include global_stats

    tab(heading="All")
      .container-fluid
        .row-fluid
          .span6
            include torrent_widgets/all
          .span6
            include download_chart

    tab(heading="Seeding", active="tab.seedingTab")
      .container-fluid
        .row-fluid
          .span12
            include torrent_widgets/seeding

    tab(heading="Leeching", active="tab.leechingTab")
      .container-fluid
        .row-fluid
          .span12
            include torrent_widgets/leeching

    tab(heading="Currently uploading")
      .container-fluid
        .row-fluid
          .span12
            include torrent_widgets/currently-uploading

    tab(heading="Currently downloading")
      .container-fluid
        .row-fluid
          .span12
            include torrent_widgets/currently-downloading

