.widget.wred
  .widget-head
    .pull-left Currently Uploading
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    // Widget content
    // Task list starts
    ul.project
      li(ng-repeat="torrent in torrentResults.torrents | filter:uploading | orderBy:'uploadRate'")
        p
          // Name
          | <strong>{{torrent.name}}</strong>
        p.p-meta
          span Downloaded : {{torrent.downloaded}}
          |  Upload Speed: {{torrent.uploadRateHumanReadable}}
        .progress(ng-class="{'1':'', '0':'progress-success progress-striped active'}[torrent.complete]")
          // Progress bar
          .bar(ng-class="{'1':'bar-success', '0':''}[torrent.complete]", style='width: {{torrent.percentDone}}%;') {{torrent.percentDone}}%
      // This list item only shows when the array is empty
      li(ng-show='(torrentResults.torrents | filter:uploading).length == 0') No torrents
    .clearfix
