.widget.worange
  .widget-head
    .pull-left Leeching
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    // Widget content
    // Task list starts
    ul.project
      // Only show the leeching torrents
      li(ng-repeat="torrent in torrentResults.torrents | filter:leeching | orderBy:'name' | limitTo:5")
        p
          // Name
          | <strong>{{torrent.name}}</strong>
        p.p-meta
          span Downloaded : {{torrent.downloaded}} of {{torrent.size}}
          |  Download Speed: {{torrent.downloadRateHumanReadable}}
        // If the torrent is currently downloading - show an 'active' progress bar (with stripes)
        .progress(ng-class="{'progress-striped active': (torrent.downloadRate > 0)}")
          // Progress bar
          .bar(style='width: {{torrent.percentDone}}%;') {{torrent.percentDone}}%
      // If there is more than 5 torrents leeching - show this list item
      li(ng-show='(torrentResults.torrents | filter:leeching).length > 5')
        .text-center
          .button.btn.btn-primary(ng-click="tab.leechingTab = true")
            | And {{(torrentResults.torrents | filter:leeching).length - 5}} more
      // This list item only shows when the array is empty
      li(ng-show='(torrentResults.torrents | filter:leeching).length == 0') No torrents
    .clearfix
