.page-head
  h3.pull-left {{name}}
  .clearfix

include ../cant_connect_rtorrent

ul.nav.nav-tabs
  li
    a(href="#/main/{{hash}}") Overview
  li
    a(href="#/main/{{hash}}/peers") Peers
  li.active
    a(href="#/main/{{hash}}/files") Files

.container
  .row
    .col-md-12
      ul(style="padding-left: 20px")
        li.file(ng-repeat="(key, folder) in selectedFolder track by key", ng-if="key != 'files' && key != 'percentDone'", ng-click="selectDirectory(key)")
          knob(knob-data="folder.percentDone", knob-options="knobOptions", readonly, style="border: 0px !important", getcolour)
          .name {{cleanString(key)}}
        li.file(ng-repeat="file in selectedFolder.files track by file.name | orderBy:'name'", style="cursor:auto;")
          knob(knob-data="file.percentDone", knob-options="knobOptions", readonly, style="border: 0px !important")
          .name {{cleanString(file.name)}}