.widget.wred
  .widget-head
    .pull-left Files
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    div(ng-if="!fileData", style="height:50px", cg-busy="'files'")
    .jstree(jstree, data="fileData")