.widget.wred
  .widget-head
    .pull-left Files
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    .jstree(jstree, data="fileData")