.page-head
  h3.pull-left {{name}}
  .clearfix

include ../cant_connect_rtorrent

ul.nav.nav-tabs
  li
    a(href="#/main/{{hash}}") Overview
  li
    a(href="#/main/{{hash}}/peers") Peers
  li.active
    a(href="#/main/{{hash}}/files") Files

.container
  .row
    .col-md-6
      include file-tree
    .col-md-6
      include file-info