.widget.wred
  .widget-head
    .pull-left File Info
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    p(ng-if="fileSelected.text === undefined") No file selected
    .table-responsive
      table.table.table-striped.table-bordered
        tr(ng-if="fileSelected.text !== undefined")
          th <strong>Priority</strong>
          th <strong>Size (bytes)</strong>
          th <strong>Size (chunks)</strong>
          th <strong>Name</strong>
        tr(ng-if="fileSelected.priority !== undefined")
          td {{fileSelected.priority}}
          td {{fileSelected.sizeBytes}}
          td {{fileSelected.sizeChunks}}
          td {{fileSelected.text}}
        tr(ng-repeat="child in fileSelected.children | orderBy:'text'", ng-if="child.children.length === 0")
          td {{child.priority}}
          td {{child.sizeBytes}}
          td {{child.sizeChunks}}
          td {{child.text}}