script(type='text/ng-template', id='has_sub_dir').
  <li><input type="checkbox" id="{{key}}" /> <label for="{{key}}">{{key}}</label>
    <ul>
      <li ng-repeat="(key, data) in data", ng-if='data.files !== undefined', ng-include='"has_sub_dir"'>
      </li>
      <li ng-repeat="(key, data) in data", ng-if='data.files === undefined', ng-include='"no_sub_dir"'>
      </li>
    </ul>
  </li>

script(type='text/ng-template', id='no_sub_dir').
  <li ng-repeat="file in data">
    <p>{{file.name}}</p>
  </li>

.widget.wred
  .widget-head
    .pull-left Files
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    //p {{fileInfo}}
    ul.css-treeview
      li(ng-repeat='(key, data) in fileInfo', ng-if='data.files !== undefined', ng-include='"has_sub_dir"')
      li(ng-repeat='(key, data) in fileInfo', ng-if='data.files === undefined', ng-include='"no_sub_dir"')
