.page-head
  h3.pull-left {{name}}
  .clearfix

include ../cant_connect_rtorrent

ul.nav.nav-tabs
  li.active
    a(href="#/main/{{hash}}") Overview
  li
    a(href="#/main/{{hash}}/peers") Peers
  li
    a(href="#/main/{{hash}}/files") Files

.container
  .row
    .col-md-12
      .widget.wred
        .widget-head
          .pull-left Overview
          .widget-icons.pull-right
            a.wminimize(href='#')
              i.icon-chevron-up
            a.wclose(href='#')
              i.icon-remove
          .clearfix
        .widget-content
          .div(ng-if="!torrentInfo", style="height:50px", cg-busy="'overview'")
          p {{torrentInfo.dir}}