.widget.wred
  .widget-head
    .pull-left Overview
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    p {{torrentInfo.dir}}