.widget.wred
  .widget-head
    .pull-left All
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    ul.project
      li(ng-repeat="torrent in torrentResults.torrents | orderBy:'name'",
        ng-class="{'list-group-item-danger': (torrent.active == 0)}")
        a(href="#/main/{{torrent.hash}}", ng-click="setName(torrent.name)")
          p
            b(ng-if="torrent.active == 0") [Inactive]
            b {{torrent.name}}
        p
          b {{torrent.trackerMsg}}
        .file-upload
          .pull-right
            .btn-groulp
              button.btn.btn-sm.btn-success(ng-click="startTorrent(torrent.hash)", ng-show="torrent.active == false")
                i.icon-play
              button.btn.btn-sm.btn-warning(ng-click="stopTorrent(torrent.hash)", ng-show="torrent.active == true")
                i.icon-stop
              button.btn.btn-sm.btn-danger(ng-click="removeTorrent(torrent.hash)")
                i.icon-remove
          p.p-meta
            span Downloaded : {{torrent.downloaded}} {{torrent.percentDone}}% Done
            | Upload Speed: {{torrent.uploadRateHumanReadable}} Download Speed: {{torrent.downloadRateHumanReadable}}
        .progress(ng-class="{'progress-striped active': (torrent.downloadRate > 0)}")
          .progress-bar(ng-class="{'progress-bar-success': (torrent.complete == 1)}", style='width: {{torrent.percentDone}}%;')
            | {{torrent.percentDone}}%
      li(ng-show='(torrentResults.torrents).length == 0') No torrents
    .clearfix