.widget.wred
  .widget-head
    .pull-left Seeding
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    ul.project
      li(ng-repeat="torrent in torrentResults.torrents | filter:seeding | filter:started | orderBy:'name'")
        a(href="#/main/{{torrent.hash}}", ng-click="setName(torrent.name)")
          p
            b {{torrent.name}}
        p
          b {{torrent.trackerMsg}}
        .file-upload
          .pull-right
            .btn-grou1p
              button.btn.btn-sm.btn-warning(ng-click="stopTorrent(torrent.hash)")
                i.icon-stop
              button.btn.btn-sm.btn-danger(ng-click="removeTorrent(torrent.hash)")
                i.icon-remove
          p.p-meta
            span Downloaded : {{torrent.downloaded}} {{torrent.percentDone}}% Done
            |  Upload Speed: {{torrent.uploadRateHumanReadable}} Download Speed: {{torrent.downloadRateHumanReadable}}
        .progress
          .progress-bar.progress-bar-success(style='width: {{torrent.percentDone}}%;') {{torrent.percentDone}}%
      li(ng-show='(torrentResults.torrents | filter:seeding | filter:started).length == 0') No torrents
    .clearfix