// This alert is shown when the server cannot communicate with rtorrent
.container(ng-show='cantConnectToRtorrent')
  .row
    .col-md-12
      .text-center
        .alert.alert-danger
          h5 There was a problem connecting to rtorrent
          p Is rtorrent up and running?