.page-head
  h3.pull-left {{name}}
  .clearfix

tabset
  tab(heading="Overview")
    .container
      .row
        .col-md-12
          include detailed_info_widgets/overview

  tab(heading="Files")
    .container
      .row
        .col-md-6
          include detailed_info_widgets/files
        .col-md-6
          include detailed_info_widgets/file-info

  tab(heading="Peers")
    .container
      .row
        .col-md-12
          include detailed_info_widgets/peers
