.page-head
  h2.pull-left
    | File Browser
    span.page-meta Browse your files remotely
  .clearfix

ol.breadcrumb
  li.directory(ng-repeat="dir in fileData.breadcrumb", ng-click="browse(dir, $index)") {{dir}}

ul
  li.file(ng-repeat="folder in fileData.dirs", ng-click="browse(folder)")
    img(src="/img/icons/folder.png")
    .name {{folder}}
  li.file(ng-repeat="file in fileData.files")
    a(ng-href="/download{{fileData.breadcrumb.join('/') + '/' + file.name}}", target="_blank" )
      img(ng-src="/img/icons/{{file.type}}.png")
      .name {{file.name}}
