.page-head
  h2.pull-left
    | Torrents
    span.page-meta rtorrent downloads
  .bread-crumb.pull-right
    .well.blightblue
      p
        strong  {{stats.upLimit}}
        |  up /
        strong  {{stats.downLimit}}
        |  down (Throttle)
  .bread-crumb.pull-right
    .well.blightblue
      p
        strong  {{stats.upSpeed}}
        |  up /
        strong  {{stats.downSpeed}}
        |  down (Speed)
  .clearfix