.page-head
  h2.pull-left
    | Settings
    span.page-meta PiTorrent settings
  .clearfix

.container
  .row
    .col-md-8
      .widget.wred
        .widget-head
          .pull-left rTorrent Settings
          .widget-icons.pull-right
            a.wminimize(href='#')
              i.icon-chevron-up
            a.wclose(href='#')
              i.icon-remove
          .clearfix
        .widget-content
          .padd
            .form.profile
              form.form-horizontal(action="settings", method="post")
                .form-group
                  label.col-md-3.control-label(for='socket') rTorrent socket
                  .col-md-8
                    input#socket.form-control(type='text', name='rpcSocket', value="{{settings.rpcSocket}}")
                    span.help-block The location of the rTorrent socket (as specified in the ~/.rtorrent.rc file)
                .form-group
                  label.control-label.col-md-3(for='torrentDir') Torrent directory
                  .col-md-8
                    input#torrentDir.form-control(type='text', name='torrentDir', value="{{settings.torrentDir}}")
                    span.help-block The directory that PiTorrent uploads .torrent files to.
                      | (Use the same directory as the 'watch_directory' in the ~/.rtorrent.rc file)
                .form-group
                  label.control-label.col-md-3(for='fsroot') File System root
                  .col-md-8
                    input#fsroot.form-control(type='text', name='rootFileSystem', value="{{settings.rootFileSystem}}")
                    span.help-block The location PiTorrent will monitor for free space on the 'overview' page
                .form-group
                  .col-md-8.col-md-offset-3
                    button.btn.btn-success(type='submit') Update
                    button.btn.btn-default(type='reset') Reset
