.page-head
  h2.pull-left
    | Torrents
    span.page-meta rtorrent downloads
  .clearfix

tabset
  tab(heading="Overview", active="tab.overviewTab")
    .container
      .row
        .col-md-6
          include torrent_summary_widgets/currently-uploading
        .col-md-6
          include torrent_summary_widgets/currently-downloading
      .row
        .col-md-6
          include upload_chart
        .col-md-6
          include download_chart
      .row
        .col-md-6
          include torrent_summary_widgets/system_stats
        .col-md-6
          include torrent_summary_widgets/add_torrent
  tab(heading="All ({{torrentResults.torrents.length}})", active="tab.allTab")
    .container
      .row
        .col-md-12
          include torrent_widgets/all
  tab(heading="Stopped ({{(torrentResults.torrents | filter:stopped).length }})", active="tab.stoppedTab")
    .container
      .row
        .col-md-12
          include torrent_widgets/stopped
  tab(heading="Started ({{(torrentResults.torrents | filter:started).length }})", active="tab.startedTab")
    .container
      .row
        .col-md-12
          include torrent_widgets/started
  tab(heading="Seeding ({{(torrentResults.torrents | filter:seeding | filter:started).length}})", active="tab.seedingTab")
    .container
      .row
        .col-md-12
          include torrent_widgets/seeding
  tab(heading="Leeching ({{(torrentResults.torrents | filter:leeching | filter:started).length}})", active="tab.leechingTab")
    .container
      .row
        .col-md-12
          include torrent_widgets/leeching
  tab(heading="Currently uploading ({{(torrentResults.torrents | filter:uploading).length}})",active="tab.currUpTab")
    .container
      .row
        .col-md-12
          include torrent_widgets/currently-uploading
  tab(heading="Currently downloading ({{(torrentResults.torrents | filter:downloading).length}})", active="tab.currDownTab")
    .container
      .row
        .col-md-12
          include torrent_widgets/currently-downloading
