.page-head
  h2.pull-left
    | Torrents
    span.page-meta rtorrent downloads
  .clearfix

tabset
  tab(active="tab.overviewTab")
    tab-heading Overview
    .container
      .row
        .col-md-6
          include torrent_summary_widgets/currently-uploading
        .col-md-6
          include torrent_summary_widgets/currently-downloading
      .row
        .col-md-6
          include upload_chart
        .col-md-6
          include download_chart
      .row
        .col-md-6
          include torrent_summary_widgets/system_stats
        .col-md-6
          include torrent_summary_widgets/add_torrent
  tab(active="tab.allTab")
    tab-heading All
      span.badge {{torrentResults.torrents.length}}
    .container
      .row
        .col-md-12
          include torrent_widgets/all
  tab(active="tab.stoppedTab")
    tab-heading Stopped
      span.badge {{(torrentResults.torrents | filter:stopped).length }}
    .container
      .row
        .col-md-12
          include torrent_widgets/stopped
  tab(active="tab.startedTab")
    tab-heading Started
      span.badge {{(torrentResults.torrents | filter:started).length }}
    .container
      .row
        .col-md-12
          include torrent_widgets/started
  tab(active="tab.seedingTab")
    tab-heading Seeding
      span.badge {{(torrentResults.torrents | filter:seeding | filter:started).length}}
    .container
      .row
        .col-md-12
          include torrent_widgets/seeding
  tab(active="tab.leechingTab")
    tab-heading Leeching
      span.badge {{(torrentResults.torrents | filter:leeching | filter:started).length}}
    .container
      .row
        .col-md-12
          include torrent_widgets/leeching
  tab(active="tab.currUpTab")
    tab-heading Currently uploading
      span.badge {{(torrentResults.torrents | filter:uploading).length}}
    .container
      .row
        .col-md-12
          include torrent_widgets/currently-uploading
  tab(active="tab.currDownTab")
    tab-heading Currently downloading
      span.badge {{(torrentResults.torrents | filter:downloading).length}}
    .container
      .row
        .col-md-12
          include torrent_widgets/currently-downloading
