.widget.wgreen
  .widget-head
    .pull-left Upload Speed
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    .padd
      chart(ng-model='uploadData', style='width:100%;')
      .text-center
        p Speeds over the last 5 minutes (kB/s)
