.widget.wblue
  .widget-head
    .pull-left Add Torrent
    .widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    .clearfix
  .widget-content
    form(action="add-torrent", method="post", enctype="multipart/form-data")
      label Torrent File
      input(type="file", name="torrentData")
      input(type="submit")
    form(action="add-torrent-url", method="post")
      label Torrent URL
      input(type="text", name="url")
      input(type="submit")