div.widget.wviolet
  div.widget-head
    div.pull-left Add Torrents
    div.widget-icons.pull-right
      a.wminimize(href='#')
        i.icon-chevron-up
      a.wclose(href='#')
        i.icon-remove
    div.clearfix
  div.widget-content.referrer
    div.padd
      ul.latest-news
        li
          h6
            strong Upload a .torrent file
          div(flow-init, flow-files-submitted="$flow.resume()", flow-complete="uploadComplete($flow)")
            p(ng-if="$flow.files.length === 0")
              | If you wish to add a .torrent file from your computer to here, click this button:
            p(ng-if="$flow.files.length > 0")
              | Uploading:
            button.btn.btn-default(flow-btn, style="margin: 10px 10px 0px", ng-if="$flow.files.length === 0", ng-click="lol($flow)")
              i.icon.icon-file-alt
              |  Upload File
            ul.file-upload(flow-transfers)
              li(ng-repeat='file in transfers')
                strong
                  i.icon-upload-alt.green
                  |  {{file.name}} ({{file.size}} bytes)
                progressbar(value="file.progress()*100") {{file.progress() * 100 | number:2}} %

        li
          h6
            strong Get a torrent from a URL
          p If you wish to add a torrent file from a remote URL, paste the URL in this form:
          p Note: cookies may be needed to grab the remote URL
          form.form-inline(action="add-torrent-url", method="post", role="form")
            .form-group
              label.sr-only(for"url") Torrent URL
              input#url.form-control(type='text', name="url", placeholder="Torrent URL")

            button.btn.btn-default(type="submit")
              i.icon.icon-download
              |  Get Torrent
